<h1 class="page-header">Event</h1>
<h2>
    <%= event.name %>
</h2>


<div class="book-details">
    <div>
        <img class="book-cover" src="<%= event.coverImagePath %>">
        <div class="book-details-btn-grid">
    <a class="btn btn-primary book-details-author-button" 
    href="/topics/<%= event.topic.id %>">View Topic</a>
</div>
</div>

<div class="book-details-grid">
    <div class="book-details-label"> ID:</div>
    <div>
        <%= event.id %>
    </div>
    <div class="book-details-label"> Type:</div>
    <div>
        <%= event.type %>
    </div>
    <div class="book-details-label"> Topic:</div>
    <div>
        <%= event.topic.type %>
    </div>
    <div class="book-details-label"> Description:</div>
    <div>
        <%= event.description %>
    </div>
    <div class="book-details-label"> Expense:</div>
    <div>
        <%= event.expense %>
    </div>
    <div class="book-details-label"> Start Time:</div>
    <div>
        <%= event.startTime %>
    </div>
    <div class="book-details-label"> End Time:</div>
    <div>
        <%= event.endTime %>
    </div>
