<h1>Event</h1>
<h2>
    <%= event.name %>
</h2>
<img width="150" height="100" src="<%= event.coverImagePath %>">
<div>
    ID: <%= event.id %>
</div>
<div>
    Type: <%= event.type %>
</div>
<div>
    Topic: <%= event.topic.type %>
</div>
<div>
    Description: <%= event.description %>
</div>
<div>
    Expense: <%= event.expense %>
</div>
<div>
    Start Time: <%= event.startTime %>
</div>
<div>
    End Time: <%= event.endTime %>
</div>

<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" 
    href="/topics/<%= event.topic.id %>">View Topic</a>
</div>