<h2>
    <%= book.title %>
</h2>
<img width="100" height="150" src="<%= book.coverImagePath %>">
<div>
    Topic: <%= book.topic.type %>
</div>
<div>
    Author: <%= book.author.fullName %>
</div>
<div>
    ISBN: <%= book.ISBN %>
</div>
<div>
    Total Copies: <%= book.totalCopies %>
</div>
<div>
    Copy ID: <%= book.copyID %>
</div>
<div>
    Copy Status: <%= book.copyStatus %>
</div>
<div>
    Publish Date: <%= book.publishDate.toDateString() %>
</div>
<div>
    Page Count: <%= book.pageCount %>
</div>
<div>
    Description: <%= book.description %>
</div>
<a href="/books/<%= book.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
<a href="/authors/<%= book.author.id %>">View Author</a>
<a href="/topics/<%= book.topic.id %>">View Topic</a>