<h1>Book</h1>
<h2>
    <%= book.title %>
</h2>
<img width="100" height="150" src="<%= book.coverImagePath %>">
<div>
    ID: <%= book.id %>
</div>
<div>
    Topic: <%= book.topic.type %>
</div>
<div>
    Author: <%= book.author.fullName %>
</div>
<div>
    ISBN: <%= book.ISBN %>
</div>
<div>
    Publish Date: <%= book.publishDate.toDateString() %>
</div>
<div>
    Page Count: <%= book.pageCount %>
</div>
<div>
    Description: <%= book.description %>
</div>
<a href="/authors/<%= book.author.id %>">View Author</a>
<a href="/topics/<%= book.topic.id %>">View Topic</a>