<h2>Registration List</h2>
<form action="/registrations" method="GET">
    <div>
        <label>ID</label>
        <input type="text" name="id" value="<%= searchOptions.id %>">
    </div>
    <button type="submit">Search</button>
</form>
<br>
<% registrations.forEach(registration => { %>
    <div>
        <%= registration.id %>
    </div>
    <a href="/registrations/<%= registration.id %>">View</a>
    <a href="/registrations/<%= registration.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/registrations/${registration.id}` }) %>
        <% }) %>