<h2 class="page-header">Registration List</h2>
<form action="/registrations" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>ID</label>
            <input type="text" name="id" value="<%= searchOptions.id %>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<% registrations.forEach(registration=> { %>
    <div class="author-row">
        <div class="author-name">
            <%= registration.id %>
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/registrations/<%= registration.id %>">View</a>
        <a class="btn btn-primary" href="/registrations/<%= registration.id %>/edit">Edit</a>

        <%- include('../partials/deleteForm', { url: `/registrations/${registration.id}` }) %>
    </div>
    <% }) %>