<h1>Registration</h1>
<div>
    ID: <%= registration.id %>
</div>
<div>
    Customer: <%= registration.customer.fullName %>
</div>
<div>
    Event: <%= registration.event.name %>
</div>
<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" 
    href="/customers/<%= registration.customer.id %>">View Customer</a>
    <a class="btn btn-primary" 
    href="/events/<%= registration.event.id %>">View Event</a>
</div>