<h2>Search Invoice</h2>
<form action="/invoices" method="GET">
    <div>
        <label>Amount Above</label>
        <input type="number" name="amountAbove" min="0.0" step="0.01" value="<%= searchOptions.amountAbove %>">
    </div>
    <div>
        <label>Amount Under</label>
        <input type="number" name="amountUnder" min="0.0" step="0.01" value="<%= searchOptions.amountUnder %>">
    </div>
    <div>
        <label>Generate After</label>
        <input type="date" name="generateAfter" value="<%= searchOptions.generateAfter %>">
    </div>
    <div>
        <label>Generate Before</label>
        <input type="date" name="generateBefore" value="<%= searchOptions.generateBefore %>">
    </div>
    <button type="submit">Search</button>
</form>
<br>
<% invoices.forEach(invoice => { %>
    <div>
        <%= invoice.amount %>
        <%= invoice.dateGenerated.toDateString() %>
    </div>
    <a href="/invoices/<%= invoice.id %>">View</a>
    <a href="/invoices/<%= invoice.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/invoices/${invoice.id}` }) %>
        <% }) %>