<h1 class="page-header">Invoice</h1>

<div class="book-details">
    <div>
        <div class="book-details-btn-grid">
            <a class="btn btn-primary book-details-author-button" 
            href="/rentals/<%= invoice.rental.id %>">View Rental</a>
        </div>
        <div class="book-details-btn-grid">
            <a class="btn btn-primary book-details-author-button" 
            href="/customers/<%= invoice.customer.id %>">View Customer</a>
        </div>
    </div>

    <div class="book-details-grid">
        <div class="book-details-label"> ID:</div>
        <div>
            <%= invoice.id %>
        </div>
        <div class="book-details-label"> Date Generated:</div>
        <div>
            <%= invoice.dateGenerated.toDateString() %>
        </div>
        <div class="book-details-label"> Amount:</div>
        <div>
            <%= '$' + invoice.amount %>
        </div>
    </div>
</div>