<h2>Search Fund</h2>
<form action="/funds" method="GET"></form>
    <div class="form-row">
        <div class="form-item">
            <label>Amount Above</label>
            <input type="number" name="amountAbove" min="0.0" step="0.01" value="<%= searchOptions.amountAbove %>">
        </div>
        <div class="form-item">
            <label>Amount Under</label>
            <input type="number" name="amountUnder" min="0.0" step="0.01" value="<%= searchOptions.amountUnder %>">
        </div>
    </div>

    <div class="form-row form-row-end btn-row">
        <button class = "btn btn-primary"
        type="submit">Search</button>
    </div>
</form>
<br>
<% funds.forEach(fund => { %>
    <div>
        <%= fund.amount %>
    </div>

    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary"
        href="/funds/<%= fund.id %>">View</a>
        <a class="btn btn-primary" 
        href="/funds/<%= fund.id %>/edit">Edit</a>
    </div>
    <%- include('../partials/deleteForm', { url: `/funds/${fund.id}` }) %>
        <% }) %>