<div>
    ID: <%= fund.id %>
</div>
<div>
    Event: <%= fund.event.name %>
</div>
<div>
    Sponsor: <%= fund.sponsor.name %>
</div>
<div>
    Amount: <%= fund.amount %>
</div>
<a href="/events/<%= fund.event.id %>">View Event</a>
<a href="/sponsors/<%= fund.sponsor.id %>">View Sponsor</a>