<h1>Fund</h1>
<div>
    ID: <%= fund.id %>
</div>
<div>
    Event: <%= fund.event.name %>
</div>
<div>
    Sponsor: <%= fund.sponsor.name %>
</div>
<div>
    Amount: <%= fund.amount %>
</div>

<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" 
    href="/events/<%= fund.event.id %>">View Event</a>
    <a class="btn btn-primary" 
    href="/sponsors/<%= fund.sponsor.id %>">View Sponsor</a>
</div>