<h2 class="page-header">Search Sponsor</h2>
<form action="/sponsors" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Type</label>
            <select name="type">
                <option value=""></option>
                <option value="Individual">Individual</option>
                <option value="Organization">Organization</option>
            </select>
        </div>
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<% sponsors.forEach(sponsor=> { %>
    <div class="author-row">
        <div class="author-name">
            <%= sponsor.name %>
        </div>
    </div>

    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/sponsors/<%= sponsor.id %>">View</a>
        <a class="btn btn-primary" href="/sponsors/<%= sponsor.id %>/edit">Edit</a>

        <%- include('../partials/deleteForm', { url: `/sponsors/${sponsor.id}` }) %>
    </div>
    <% }) %>