<h2>Search Payment</h2>
<form action="/payments" method="GET">
    <div>
        <label>Method</label>
        <input type="text" name="method" value="<%= searchOptions.method %>">
    </div>
    <div>
        <label>Amount Above</label>
        <input type="number" name="amountAbove" min="0.0" step="0.01" value="<%= searchOptions.amountAbove %>">
    </div>
    <div>
        <label>Amount Under</label>
        <input type="number" name="amountUnder" min="0.0" step="0.01" value="<%= searchOptions.amountUnder %>">
    </div>
    <div>
        <label>Pay After</label>
        <input type="date" name="payAfter" value="<%= searchOptions.payAfter %>">
    </div>
    <div>
        <label>Pay Before</label>
        <input type="date" name="payBefore" value="<%= searchOptions.payBefore %>">
    </div>
    <button type="submit">Search</button>
</form>
<br>
<% payments.forEach(payment => { %>
    <div>
        <%= payment.method %>
        <%= payment.amount %>
        <%= payment.payDate.toDateString() %>
    </div>
    <a href="/payments/<%= payment.id %>">View</a>
    <a href="/payments/<%= payment.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/payments/${payment.id}` }) %>
        <% }) %>