<h1 class="page-header">Payment</h1>

<div class="book-details">
    <div>
        <div class="book-details-btn-grid">
            <a class="btn btn-primary book-details-author-button" href="/customers/<%= payment.customer.id %>">View
                Customer</a>
        </div>
        <div class="book-details-btn-grid">
            <a class="btn btn-primary book-details-author-button" href="/invoices/<%= payment.invoice.id %>">View
                Invoice</a>
        </div>
    </div>

    <div class="book-details-grid">
        <div class="book-details-label"> ID:</div>
        <div>
            <%= payment.id %>
        </div>
        <div class="book-details-label"> Customer:</div>
        <div>
            <%= payment.customer.fullName %>
        </div>
        <div class="book-details-label"> Invoice:</div>
        <div>
            <%= payment.invoice.id %>
        </div>
        <div class="book-details-label"> Pay Date:</div>
        <div>
            <%= payment.payDate.toDateString() %>
        </div>
        <div class="book-details-label"> Amount:</div>
        <div>
            <%= payment.amount %>
        </div>
        <div class="book-details-label"> Payment Method:</div>
        <div>
            <%= payment.method %>
        </div>
        <div class="book-details-label"> Card Holder Name:</div>
        <div>
            <%= payment.cardHolderName %>
        </div>
        <div class="book-details-label"> Card Number:</div>
        <div>
            <%= payment.cardNumber %>
        </div>
    </div>
</div>