<div>
    ID: <%= payment.id %>
</div>
<div>
    Customer: <%= payment.customer.fullName %>
</div>
<div>
    Invoice: <%= payment.invoice.id %>
</div>
<div>
    Pay Date: <%= payment.payDate.toDateString() %>
</div>
<div>
    Amount: <%= payment.amount %>
</div>
<div>
    Method: <%= payment.method %>
</div>
<div>
    Card Holder Name: <%= payment.cardHolderName %>
</div>
<div>
    Card Number: <%= payment.cardNumber %>
</div>
<a href="/customers/<%= payment.customer.id %>">View Customer</a>
<a href="/invoices/<%= payment.invoice.id %>">View Invoice</a>