<h2>Search Reservation</h2>
<form action="/reservations" method="GET">
    <div>
        <label>Timeslot</label>
        <input type="text" name="timeslot" value="<%= searchOptions.timeslot %>">
    </div>
    <div>
        <label>Reserve After</label>
        <input type="date" name="reserveAfter" value="<%= searchOptions.reserveAfter %>">
    </div>
    <div>
        <label>Reserve Before</label>
        <input type="date" name="reserveBefore" value="<%= searchOptions.reserveBefore %>">
    </div>
    <button type="submit">Search</button>
</form>
<br>
<% reservations.forEach(reservation => { %>
    <div>
        <%= reservation.timeslot %>
        <%= reservation.date.toDateString() %>
    </div>
    <a href="/reservations/<%= reservation.id %>">View</a>
    <a href="/reservations/<%= reservation.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/reservations/${reservation.id}` }) %>
        <% }) %>