<h1>Reservation</h1>
<div>
    ID: <%= reservation.id %>
</div>
<div>
    Customer: <%= reservation.customer.fullName %>
</div>
<div>
    Room: <%= reservation.room.number %>
</div>
<div>
    Date: <%= reservation.date.toDateString() %>
</div>
<div>
    Timeslot: <%= reservation.timeslot %>
</div>
<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" 
    href="/customers/<%= reservation.customer.id %>">View Customer</a>
    <a class="btn btn-primary" 
    href="/rooms/<%= reservation.room.id %>">View Room</a>
</div>