<div>
    ID: <%= reservation.id %>
</div>
<div>
    Customer: <%= reservation.customer.fullName %>
</div>
<div>
    Room: <%= reservation.room.number %>
</div>
<div>
    Date: <%= reservation.date.toDateString() %>
</div>
<div>
    Timeslot: <%= reservation.timeslot %>
</div>
<a href="/customers/<%= reservation.customer.id %>">View Customer</a>
<a href="/rooms/<%= reservation.room.id %>">View Room</a>