<h1 class="page-header">Reservation</h1>

<div class="book-details">
    <div>
        <div class="book-details-btn-grid">
            <a class="btn btn-primary book-details-author-button" href="/customers/<%= reservation.customer.id %>">View
                Customer</a>
        </div>
        <div class="book-details-btn-grid">
            <a class="btn btn-primary book-details-author-button" href="/rooms/<%= reservation.room.id %>">View Room</a>
        </div>
    </div>
    <div class="book-details-grid">
        <div class="book-details-label"> ID:</div>
        <div>
            <%= reservation.id %>
        </div>
        <div class="book-details-label"> Customer:</div>
        <div>
            <%= reservation.customer.fullName %>
        </div>
        <div class="book-details-label"> Room:</div>
        <div>
            <%= reservation.room.number %>
        </div>
        <div class="book-details-label"> Date:</div>
        <div>
            <%= reservation.date.toDateString() %>
        </div>
        <div class="book-details-label"> Timeslot:</div>
        <div>
            <%= reservation.timeslot %>
        </div>
    </div>
</div>