<h2>Invitation List</h2>
<form action="/invitations" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>ID</label>
            <input type="text" name="id" value="<%= searchOptions.id %>">
        </div>
    </div>

    <div class="form-row form-row-end btn-row">
        <button class = "btn btn-primary"
        type="submit">Search</button>
    </div>
</form>
<br>
<% invitations.forEach(invitation => { %>
    <div>
        <%= invitation.id %>
    </div>
    <a href="/invitations/<%= invitation.id %>">View</a>
    <a href="/invitations/<%= invitation.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/invitations/${invitation.id}` }) %>
        <% }) %>