<h1>Invitation</h1>
<div>
    ID: <%= invitation.id %>
</div>
<div>
    Author: <%= invitation.author.fullName %>
</div>
<div>
    Event: <%= invitation.event.name %>
</div>
<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" 
    href="/authors/<%= invitation.author.id %>">View Author</a>
    <a class="btn btn-primary" 
    href="/events/<%= invitation.event.id %>">View Event</a>
</div>