<div>
    <label>Status</label>
    <input type="text" name="status" value="<%= copy.status %>">
</div>
<div>
    <label>Book</label>
    <select name="book">
        <% books.forEach(book => { %>
            <% if (book.id===copy.book) { %>
                <option selected label="<%= book.title %>" value="<%= book.id %>">
                    <% } else { %>
                <option label="<%= book.title %>%>" value="<%= book.id %>">
                    <% } %>
                        <% }) %>
    </select>
</div>