<div>
    <label>Customer</label>
    <select name="customer">
        <% customers.forEach(customer => { %>
            <% if (customer.id===rental.customer) { %>
                <option selected label="<%= customer.fullName %>" value="<%= customer.id %>">
                    <% } else { %>
                <option label="<%= customer.fullName %>" value="<%= customer.id %>">
                    <% } %>
                        <% }) %>
    </select>
</div>
<div>
    <label>Copy</label>
    <select name="copy">
        <% copies.forEach(copy => { %>
            <% if (copy.id===rental.copy) { %>
                <option selected label="<%= copy.id %>" value="<%= copy.id %>">
                    <% } else { %>
                <option label="<%= copy.id %>" value="<%= copy.id %>">
                    <% } %>
                        <% }) %>
    </select>
</div>
<div>
    <label>Borrow Date</label>
    <input type="date" name="borrowDate" value="<%= rental.borrowDate == null ? '' :
    rental.borrowDate.toISOString().split('T')[0] %>">
</div>
<div>
    <label>Expected Return Date</label>
    <input type="date" name="expectedReturnDate" value="<%= rental.expectedReturnDate == null ? '' :
    rental.expectedReturnDate.toISOString().split('T')[0] %>">
</div>
<div>
    <label>Actual Return Date</label>
    <input type="date" name="actualReturnDate" value="<%= rental.actualReturnDate == null ? '' :
    rental.actualReturnDate.toISOString().split('T')[0] %>">
</div>
<div>
    <label>Status</label>
    <select name="status">
        <option value="Returned">Returned</option>
        <option value="Not Returned">Not Returned</option>
    </select>
</div>