<h1>Rental</h1>
<div>
    ID: <%= rental.id %>
</div>
<div>
    Borrower: <%= rental.customer.fullName %>
</div>
<div>
    Copy: <%= rental.copy.id %>
</div>
<div>
    Borrow Date: <%= rental.borrowDate.toDateString() %>
</div>
<div>
    Expected Return Date: <%= rental.expectedReturnDate.toDateString() %>
</div>
<div>
    Actual Return Date: <%= rental.actualReturnDate.toDateString() %>
</div>
<div>
    Status: <%= rental.status %>
</div>
<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" 
    href="/customers/<%= rental.customer.id %>">View Customer</a>
    <a class="btn btn-primary" 
    href="/copies/<%= rental.copy.id %>">View Copy</a>
</div>