<div class="form-row">
    <div class="form-item">
        <label>Username</label>
        <input type="text" name="username" value="<%= author.username %>">
    </div>
    <div class="form-item">
        <label>Password</label>
        <input type="password" name="password" value="<%= author.password %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>First Name</label>
        <input type="text" name="firstName" value="<%= author.firstName %>">
    </div>
    <div class="form-item">
        <label>Last Name</label>
        <input type="text" name="lastName" value="<%= author.lastName %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Gender</label>
        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="form-item">
        <label>Email</label>
        <input type="email" name="email" value="<%= author.email %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Phone</label>
        <input type="number" name="phone" value="<%= author.phone %>">
    </div>
    <div class="form-item">
        <label>Street</label>
        <input type="text" name="street" value="<%= author.street %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>City</label>
        <input type="text" name="city" value="<%= author.city %>">
    </div>
    <div class="form-item">
        <label>Zipcode</label>
        <input type="number" name="zipcode" value="<%= author.zipcode %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>State</label>
        <input type="text" name="state" value="<%= author.state %>">
    </div>
    <div class="form-item">
        <label>Country</label>
        <input type="text" name="country" value="<%= author.country %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Upload Selfie</label>
        <input type="file" name="cover" class="book-cover filepond">
    </div>
</div>
