<h2>Search Customers</h2>
<form action="/customers" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>

    <div class="form-row form-row-end btn-row">
        <button class = "btn btn-primary"
        type="submit">Search</button>
    </div>
</form>
<br>
<% customers.forEach(customer => { %>
    <div>
        <%= customer.fullName %>
    </div>
    <div class="form-row">
        <a class="form-item" href="/customers/<%= customer.id %>">
            <img height="150" width="150" src="<%= customer.coverImagePath %>">
        </a>
    </div>

    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" 
        href="/customers/<%= customer.id %>">View</a>
        <a class="btn btn-primary" 
        href="/customers/<%= customer.id %>/edit">Edit</a>
    </div>
        <%- include('../partials/deleteForm', { url: `/customers/${customer.id}` }) %>
        <% }) %>
    