<h2 class="page-header">Search Customers</h2>
<form action="/customers" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>

    <div class="form-row form-row-end btn-row">
        <button class = "btn btn-primary"
        type="submit">Search</button>
    </div>
</form>
<br>
<% customers.forEach(customer => { %>
    <div class="author-row">
        <div class="author-name">
            <%= customer.fullName %>
        </div>
    </div>
    
    <div class="form-row">
        <a class="form-item" 
        href="/customers/<%= customer.id %>"></a>
    </div>

    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" 
        href="/customers/<%= customer.id %>">View</a>
        <a class="btn btn-primary" 
        href="/customers/<%= customer.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', { url: `/customers/${customer.id}` }) %>
    </div>
        <% }) %>
    